h1 {
    color: azure;
}

body {
    background-image:
        url('https://content.codecademy.com/courses/learn-css-selectors-visual-rules/hypnotize_bg.png');
}

.header {
    background-color: cornflowerblue;
    text-align: center;
}

.about-me {
    opacity: 50%;
    font-size: 20px;
}

.title {
    font-weight: bold;
}